.chronosimple ul {
	list-style-type: none;
	padding: 0;
}

.chronosimple .evtsimple {
  border: 1px solid #ddd;
  background-color: lightgray;
}

.chronosimple .evtsimple input[type="checkbox"] {
	margin: 0px;
	margin-left: 4px;
}

.chronosimple .evtsimple.dmd {
  color: red;
}

.chronosimple .evtsimple:hover {
  background-color: gray;
}

.chronosimple .evtblanc {
  border: 0px solid white;
  background-color: transparent;
}

